body {
    background-color: #fffffff9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.canvas {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls__btns {
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls__btns button,
.controls__btns input {
    margin: 5px 0;
}

.display {
    margin-top: 20px;
    font-size: 20px;
}

.Background {
    position: fixed;
    top: -19%;
    z-index: -2;
    width: 70%;
    height: 170%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 물시계 */
.water-container {
    width: 250px;
    height: 450px;
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.water-fill {
    width: 3000px;
    height: 3000px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -400%;
    border-radius: 45%;
    background: rgba(48, 189, 255, 0.8);
    animation: rotate 5000ms infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .canvas,
    .water-container,
    .controls__btns {
        width: 10%;
        margin: 5px 0px;
    }
}

/* 버튼 색상 수정 */
.btn-secondary {
    background-color: #876353;
    border-color: #876353;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #654339;
    border-color: #654339;
}

/* 색상 팔레트 */
.color-palette {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.1, 2, 0.5, 1);
}

.color-option:hover {
    transform: scale(1.2, 1.2);
}

.color-option.active {
    transform: scale(1.3, 1.3);
    cursor: default;
}

.color-option:nth-child(1) {
    background-color: #e74c3c;
    box-shadow: 0 7px 25px rgba(231, 76, 60, 0.6);
}

.color-option:nth-child(2) {
    background-color: #e67e22;
    box-shadow: 0 7px 25px rgba(230, 126, 34, 0.6);
}

.color-option:nth-child(3) {
    background-color: #f1c40f;
    box-shadow: 0 7px 25px rgba(241, 196, 15, 0.6);
}

.color-option:nth-child(4) {
    background-color: #1abc9c;
    box-shadow: 0 7px 25px rgba(26, 188, 156, 0.6);
}

.color-option:nth-child(5) {
    background-color: #3498db;
    box-shadow: 0 7px 25px rgba(52, 152, 219, 0.6);
}

.color-option:nth-child(6) {
    background-color: #9b59b6;
    box-shadow: 0 7px 25px rgba(155, 89, 182, 0.6);
}

.color-option:nth-child(7) {
    background-color: #000000;
    box-shadow: 0 7px 25px rgba(16, 0, 22, 0.6);
}